@{
    Layout = null;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<h2>Before PartialView</h2>
<hr />
<div id="header"></div>
<hr />
<h2>After PartialView</h2>
<script>

    setInterval(LoadAction, 1000);

    function LoadAction()
    {
        var time = new Date();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChildAction", "PartialView")',
            data: { time: time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds()},
            datatype: "json",
            success: function (data) {
                $('#header').html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }

        });
    }
</script>
